In [ ]:
select client_name, department 
from Client_Info_Table as a 
left join Company_Table as b
on a.client_Id = b.client_Id 

1.2 Inner Join
1.3 1 SELECT employee_name , employee_name as "manager"
      FROM table_above as a
       LEFT OUTER JOIN table_above as b
       ON a.Id = b.manager_Id
    
1.3.2 Pieeter is the boss

2 select sum (case when s >= 0 then s) as positive,
       sum (case when s < 0 then s) as negative
    from Numbers

3 Select count(ID) as dup_count
    from employees_table 
    having count(ID) > 1

3.1 select*(select  employee_name, age , row_number() over (partition by employee_name orderby employee_name asc) as row_number
    from employee_table) as a
    from a where row_number = 3
4. Create table Vehicle (Make varchar(100), 
                         Model varchar(100), 
                         Manufacture_Date date, 
                         Cost float,
                         Model_id int)


 Create table Vehicle_type (Manufacturer varchar(100), 
                          Model_Id int, 
                          Parts varchar(100),
                          Warranty_Expiry_date date,
                          City varchar (100))
                            
Insert into Vehicle(Make,Model, Manufacture_Date, Cost, Model_id)    
values ("Toyota", "Etios", "2023-01-01", "250000.00", 001)

Insert into Vehicle_type(Manufacturer,Model_Id, Parts, Warranty_Expiry_date, City)    
values ("Toyota", 001, "Windscreen", "2030-01-01", "Johannesburg" )
                            
select v.Make, v.Model, v.Cost, v.Manufacture_Date, vt.Parts, vt.Warranty_Expiry_Date into #temp_table
from vehicle as v 
left join vehicle_type as vt
on v.Model_Id = vt.Model_Id

5.2 You close the current session 
6.